 
<div class="banner">
  <div class="bg">
    <div class="container">
      <div class="points">
        <div class="col-md-4">
          <div class="col-md-12 selling-point text-center">
            <p class="">{{site.selling-point-1}}</p> 
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Learn More</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 selling-point text-center">
              <p>{{site.selling-point-2}}</p>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Learn More</button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 selling-point text-center">
              <p>{{site.selling-point-3}}</p>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
