

  <div class="col-lg-6">
      <address>
        <strong>{{site.company}}</strong><br>
        {{site.address}}<br>
        {{site.country}}<br>
        <abbr title="Phone">P:</abbr> {{site.telephone}}
      </address>
            
      <address>
        <strong>Contact</strong><br>
        <a href="mailto:{{site.email}}">{{site.email}}</a>
      </address>
  </div>
  <div class="col-lg-6">
    <iframe src="https://snazzymaps.com/embed/50933" width="100%" height="400px" style="border:none;"></iframe>
  </div>
    
 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdc11phkDT42EzKuzCzWi5Ca1MT-sqUI8&callback=initMap" async defer></script>
 
