<section>
    <div class="owl-carousel">
        {% for testimonial in site.categories.testimonials %}
        <div class="testimonial">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img class="img-circle" src="https://img-cache.cdn.gaiaonline.com/c03df8f2032436b6b60f7d268a871d30/http://i100.photobucket.com/albums/m17/dirtyoldman_2006/hefner.jpg"
                        alt="">
                </div>
            </div>
            <div class="row text-center">
                <p>{{ testimonial.title }}</p>
            </div>

        </div>
        {% endfor %}
    </div>
</section>