<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{site.title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %} 
          {% if page.title %}
				    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %} 
        {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> 
      </ul>
    </div>
  </div>
</nav>
