
.bg {
  /* The image used */
  background-image: url("https://livedemo00.template-help.com/wt_58578/images/page01_img01.jpg");
  ;
  height: 400px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.points{
  margin-top: 15%;
}

.selling-point{
  font-size: $selling-points-font-size;
  height: 200px;
  background-color: $light;
  p{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}