$content-width: 800px;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: rgb(196, 196, 196);
$darker: rgb(156, 156, 156);
$header:  #1D1425;
$address-font-size: 20px;
$selling-points-font-size: 36px;
$home-section-spacer: 30px;
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}