<!DOCTYPE html>
<html>
{% include head.html %}

<body>
		{% include modals/modal.html %}
	{% include header.html %}
	{% include sections/banner.html %}
	<!-- {% include sections/map-address.html %} -->
	{% include sections/testimonials.html %}
	{% include footer.html %}
	
</body>

</html>